[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
ambient_svm_hello = "F8ScaDMtYwunu5Xx1geVDPoVon5C4PyjaTsoFbAdCkhu"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "/home/crypto/.config/solana/id_ambient.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
